<section ng-controller="AboutViewController">
	<h1 app-color="blue">{{page.heading}}</h1>
	<p>This is the 'about us' page</p>
</section>
<style type="text/css">
</style>

<div class="btn-group mytestradios" data-toggle="buttons-radio">
	<button type="button" class="btn btn-primary">Left</button>
	<button type="button" class="btn btn-primary">Middle</button>
	<button type="button" class="btn btn-primary">Right</button>
</div>

<button type="button" class="btn init-all">init-all</button>

<button type="button" class="btn disable-by-button">disable-by-button</button>
<button type="button" class="btn enable-it-by-button">enable-it-by-button</button>
<button type="button" class="btn toggle-from-outside">toggle-from-outside</button>


<table class="table js-field-options" style="width: 200px;">
	<thead>
		<tr>
			<td>col1</td>
			<td>col2</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_mandatory" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_mandatory</button>
			</td>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_hide" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_hide</button>
			</td>
		</tr>

		<tr>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_readonly" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_readonly</button>
			</td>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_searchable" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_searchable</button>
			</td>
		</tr>

		<tr>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_editlock" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_editlock</button>
			</td>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_larger_text_area" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_larger_text_area</button>
			</td>
		</tr>

		<tr>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_rich_text_area" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_rich_text_area</button>
			</td>
			<td>
				<button type="button" class="btn btn-mini js-sync  btn-danger" name="is_supress_mandatory" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_supress_mandatory</button>
			</td>
		</tr>
	</tbody>
</table>

<!-- <input type="button" class="btn js-sync btn-danger" name="is_mandatory" value="true" id="testButton" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_mandatory</button>

	<button type="button" class="btn js-sync field_option btn-danger" name="is_hide" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">is_hide</button> -->

	<div data-ng-controller="tableCtrl">
		<button data-ng-click="repositionTable()">refresh</button>
		<input type="text" data-ng-model="gridStyle.width">width</input>
		<input type="text" data-ng-model="gridStyle.height">height</input>
		<div id="grid1" ui-grid="gridOpts" ui-grid-auto-resize data-ng-style="gridStyle" external-scopes="rowModel"></div>

		<form>
			<div class="form-group">
				<input type="text" class="form-control" data-ng-model="myData[0].firstName.field_name">field_name
				<input type="text" class="form-control" data-ng-model="myData[0].firstName.field_type">field_type
				<input type="checkbox" class="form-control" data-ng-model="myData[0].firstName.default_value">default_value
				<input type="checkbox" class="form-control" data-ng-model="myData[0].firstName.value">value
			</div>
		</form>
	</div>
	<!-- <button type="button" class="btn js-sync" name="is_readonly" value="true" data-toggle="onoff" data-onoff-default="btn-danger" data-onoff-active="btn-success" data-onoff-inactive="btn-danger" data-onoff-disabled="disabled">on off</button> -->


	<div style="background-color: aquamarine" ng-click="getExternalScopes().fnOne(row)" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ui-grid-cell></div>